header nav  {
    text-align: center;
    background-color:gray;
    padding: 10px;
    margin: 30px;
    
    
}
main img{
    text-align: center;
}


header nav ul li {
    padding: 25px;
    margin: 0 25px;
    color:white;
    vertical-align:middle;
    display: inline;
}
header nav ul img {
    vertical-align: middle;
    margin-right: 100px;
    
}

*  {
    box-sizing: border-box;
  }


  main {
    width: 960px;
    margin: auto;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    
  }

  header nav  {
    text-align: center;
    background-color:gray;
    padding: 10px;
    margin: 30px;
    
}
main img{
    text-align: center;
}


header nav ul li {
    padding: 25px;
    margin: 0 25px;
    color:white;
    vertical-align:middle;
    display: inline;
  }


*  {
    box-sizing: border-box;
  }


  main {
    width: 960px;
    margin: auto;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    
  }

  header {
    padding: 10px;
    text-align: center;
  }

  footer {
    clear: both;
    padding: 50px;
    text-align: center;
    background: #222;
    color: #fff;
    text-transform: capitalize;
  }
 
  section img {
    text-align: center;
    padding: 5px;
    margin: 1px;
    
 }
 li{
     vertical-align: middle;
 }


  section article img  {
    text-align: left;
    margin-right: 5px;
    float: left;
    overflow:hidden;
    
    
  }
  section article p  {
    text-align: justify;
    overflow: scroll;
    height: 400px;
    margin-right: 5%;
  }

  article button:hover{

    background-color: rgb(177, 148, 148);
    color: rgb(3, 3, 3);
    font-size: 12px;
    width: 20%;
    height: 40%;
    padding: 1%;
    
}

article button{

  background-color: black;
  color: white;
  font-size: 12px;
  width: 20%;
  height: 40%;
  padding: 1%;

}


